@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');
* {
    margin: 0;
    padding: 0;

}

body{
    background-color: white;
    font-family: sans-serif;
}

.heading{
    display: flex;
    align-items: center;
    justify-content: center;
}

.text{
    font-size: 30px;
    margin: 10px;
}

.container{
    display: flex;
    margin: 50px;
    justify-content: center;
    padding: 100px;
}

@media (max-width: 576px) {
    .container{
        margin: 40px;
        padding: 20px;
        display: block;
        align-items: center;
        justify-content: center;
        
    }

    .loginbox{
        margin-top: 30px;
        padding: 10px;
    }

    .loginbox input{
        padding: 5px;
        margin: 3px;
    }

    .inputbox img{
        height: 100px;
        width: 100px;
    }
    



}
.inputbox img{
    width: 250px;
    height: 200px;
}

.loginbox{
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow:2px 3px 12px black;
    
}

.loginbox img{
    margin: 10px;
    height: 100px;
    width: 110px;
}

.loginbox input{
    text-align: center;
    padding: 10px;
    margin: 8px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    
}

.submit{
    margin: 8px;
    width: 150px;
    padding: 8px;
    font-size: 18px;
    background-color: rgb(220, 101, 26);
    border: none;
    color: white;
    border-radius: 15px;
    transition: 0.5 ease;
    box-shadow: 2px 1px 10px  black;

}

.submit:hover{
    background-color: rgb(17, 139, 8);
    box-shadow: 1px 2px 10px green;
}

.forgot{
    padding: 20px;
    margin: 15px;
}

.forgot a{
    text-decoration: none;

}

